@media (min-width:1200px){
    .conteudo.blur{
        filter: blur(0px);
        }
}

@media (max-width: 1200px) {

    .section1 .sub-section,
    .sub-section2 {
        flex-wrap: wrap;
    }

    .section1 .sub-section .containers {
        width: 350px;
    }

    .section1 .sub-section2 .containers2 {
        width: 190px;
    }

    .sub-section2 .containers2 h4 {
        font-size: 10pt;
    }

    .sub-menu.ativado {
        width: 320px;
        height: 155vh;
    }

    .conteudo.blur{
        filter: blur(0px);
        }
}

@media (max-width: 973px) {
    .sub-menu.ativado{
        position: absolute;
        z-index: 2;
        width: 270px;
    } 

    .conteudo.blur{
        filter: blur(4px);
        }
}


@media (max-width: 760px) {
    .menu .sub-itens {
        font-size: 11pt;
    }

    .info .conteudo {
        z-index: -1;
    }
    .section1 .sub-section .containers {
        width: 275px;
        height: 120px;
    }

    .section1 .sub-section2 .containers2 {
        width: 170px;
        height: 80px;
    }

    .containers .rodape p {
        margin-top: 10px;
    }

    .containers .infocontainer h2 {
        font-size: 22pt;
    }

    .containers .infocontainer p {
        font-size: 10pt;
    }

    .containers .infocontainer i {
        font-size: 73px;
    }
.sub-section2 .containers2 h4 {
        font-size: 8.5pt;
    }

    .sub-section2 .containers2 .icons {
        font-size: 25pt;
        height: 80px;
    }
}

@media (max-width: 704px){
    .sub-menu.ativado{
        margin-top:15px 
    }
}

@media (max-width: 606px) {

    .menu .sub-itens{
        display: none;

    }

    .sub-menu.ativado{
        margin-top:15px 
    }

    .sub-menu h5 {
        margin-top: 45px;
    }

    .section1 .sub-section .containers {
        width: 240px;
        height: 120px;
    }

    .section1 .sub-section2 .containers2 {
        width: 130px;
        height: 80px;
    }
}

@media (max-width: 538px){

    .section1 .sub-section .containers {
        width: 225px;
        height: 120px;
    }

    .section1 .sub-section2 .containers2 {
        width: 300px;
        height: 80px;
    }

}

@media (max-width: 538px){
    .section1 .sub-section .containers {
        width: 270px;
        height: 120px;
    }

    .sub-menu.ativado{
        height: 300vh;
    }
}

@media (max-width: 461px){

    .info .conteudo{
        margin-top: 20px;
    }
    
}

@media (max-width: 449px){

    .info .conteudo{
        margin-top: 25px;
    }


}


@media (max-width: 280px){

    .sub-menu.ativado{
        width: 220px;
    } 

    .section1 .sub-section .containers {
        width: 210px;
        height: 120px;
    }

    .section1 .sub-section2 .containers2 {
        width: 280px;
        height: 80px;
    }

    .containers .infocontainer i {
        font-size: 65px;
        padding-right: 10px;
    }

}
