@media (max-width: 1200px) {

    .section1 .sub-section,
    .sub-section2 {
        flex-wrap: wrap;
    }

    .section1 .sub-section .containers {
        width: 300px;
    }

    .section1 .sub-section2 .containers2 {
        width: 190px;
    }

    .sub-section2 .containers2 h4 {
        font-size: 10pt;
    }

    .sub-menu.ativado {
        height: 155vh;
    }

}


@media (max-width: 924px) {
    .menu .sub-itens {
        font-size: 11pt;
    }

    .section1 .sub-section .containers {
        width: 275px;
        height: 120px;
    }

    .containers .rodape p {
        margin-top: 10px;
    }

    .containers .infocontainer h2 {
        font-size: 22pt;
    }

    .containers .infocontainer p {
        font-size: 10pt;
    }

    .containers .infocontainer i {
        font-size: 73px;
    }

    .section1 .sub-section2 .containers2 {
        width: 170px;
        height: 80px;
    }

    .sub-section2 .containers2 h4 {
        font-size: 8.5pt;
    }

    .sub-section2 .containers2 .icons {
        font-size: 25pt;
        height: 80px;
    }
}

@media (max-width: 774px) {
    .section1 .sub-section .containers {
        width: 220px;
        height: 110px;
    }

    .containers .rodape p {
        margin-top: 10px;
    }

    .containers .infocontainer h2 {
        font-size: 16pt;
    }

    .containers .infocontainer p {
        font-size: 10pt;
    }

    .containers .infocontainer i {
        font-size: 64px;
    }

    .section1 .sub-section2 .containers2 {
        width: 135px;
        height: 70px;
    }

    .sub-section2 .containers2 h4 {
        font-size: 7.9pt;
    }

    .sub-section2 .containers2 .icons {
        font-size: 20pt;
        height: 70px;
    }
}

@media (max-width: 664px) {
    .section1 .sub-section .containers {
        width: 195px;
        height: 95px;
    }

    .containers .rodape p {
        margin-top: 7.5px;
    }

    .containers .infocontainer h2 {
        font-size: 13.7pt;
    }

    .containers .infocontainer p {
        font-size: 9.4pt;
    }

    .containers .infocontainer i {
        font-size: 50px;
    }

    .section1 .sub-section2 .containers2 {
        width: 120px;
        height: 65px;
    }

    .sub-section2 .containers2 h4 {
        font-size: 7.2pt;
    }

    .sub-section2 .containers2 .icons {
        font-size: 17pt;
        height: 65px;
    }
}

@media (max-width: 619px) {
    .menu{
        z-index: 3;
    }

    .sub-menu{
        z-index: 2;
    }
    
    .menu .sub-itens {
        font-size: 9pt;
    }

    .section1 .sub-section .containers {
        width: 165px;
        height: 90px;
    }

    .containers .rodape p {
        margin-top: 6px;
    }

    .containers .infocontainer h2 {
        font-size: 13pt;
    }

    .containers .infocontainer p {
        font-size: 9pt;
    }

    .containers .infocontainer i {
        font-size: 30px;
    }

    .section1 .sub-section2 .containers2 {
        width: 90px;
        height: 65px;
    }

    .sub-section2 .containers2 h4 {
        font-size: 5pt;
    }

    .sub-section2 .containers2 .icons {
        font-size: 15pt;
        height: 65px;
    }

    
}
